.rgd{
    font-family: HelveticaNow,Helvetica,sans-serif;
    width: 35%;
    margin: auto;
    margin-top: 40px;
    background-color: white;
    padding: 50px 50px 0px 50px;
}
.titleregister{
    font-weight: bold;
}
input{
    margin-bottom: 20px;
    border-width: 1px;
    border-color: black;
}
.label2{
    margin-top: 0;
    margin-bottom: 0;
    background-color: #fff;
    border-style: solid;
    font-size: .8rem;
    line-height: 1rem;
    letter-spacing: 0;
    font-weight: 400;
    border-left-width: 1px;
    border-bottom-width: 0;
    border-right-width: 1px;
    border-top-width: 1px;
    border-color: #1a1a1a;
    padding: 4px 8px;
    box-sizing: inherit;
    align-self: flex-start;
    color: #3c4141;
}
.label2:hover{
    background: black;
    color: white;
}
.regiregi{
    font-size: 16px;
    margin-top: 30px;
    color: #fff;
    font-weight: bold;
    background: black;
    cursor:pointer;
}
.emails{
    color: black;
}
input[type='checkbox'] {
    width:10px;
    height:10px;
    margin-bottom: 0;
}